# don't track content of these folders
linux64GccDPOpt/

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.dep
*.so

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
